html {
  font-family: "Abhaya Libre", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

li, a {
  color: #fff;
  display: inline-block;
}

.masthead {
  background-color: #423ca3;
}

.btn {
  background-color: #15114c;
  border-radius: 10px;
  border: none;
}

.nav {
  text-align: center;
}

.logo {
  text-align: center;
}

h1 {
  text-align: center;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

}
